# Test and Compiler files
**test.json
**test.js

# distribution folders
global-s3-assets
regional-s3-assets
open-source

# Generated ouputs
dist
coverage
docs
npm-debug.log
*.zip
.scannerwork
*.xml
reports
source/services/@aws-solutions/utils/*/index.js

# Node dependencies
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out
__snapshots__

# Misc
.DS_Store